header {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 2px solid white;
  margin: 0;
  word-spacing: 7px;
  font-size: 25px;
}
/* nav */
.one {
  padding: 10px 0;
  border-bottom: 2px solid white;
}
.one ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.one ul li {
  display: inline-block;
  padding: 10px;
}
.one ul li a {
  text-decoration: none;
  color: white;
}
.one ul li a:hover {
  background-color: gray;
}
/* section div two */
.two {
  font-size: 50px;
  border-bottom: 3px solid white;
  color: orange;
}
/* section div three */
.three img {
  width: 500px;
  height: 300px;
  float:right;

  
  border-bottom: 4px;
}
.three,
h1,
a {
  font-size: 25px;
  color: white;
  margin-left: 10px;
}
.three h1,
a,
p {
  width: 250px;
  
}
.three p {
  font-size: 15px;
}

.three {
  border-bottom: 3px solid white;
  overflow: auto;
  border-right: 3px solid white;
  
  margin-top:20px ;
